<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinição de Senha - MKTERP-PRO</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">MKTERP-PRO</a>
    </nav>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Redefinição de Senha</h4>
                    </div>
                    <div class="card-body">
                        <form action="{{ url_for('process_reset_password') }}" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="token" value="{{ token }}">
                            <div class="form-group">
                                <label for="newPassword">Nova Senha:</label>
                                <input type="password" class="form-control" id="newPassword" name="new_password"
                                    required>
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">Confirme a Nova Senha:</label>
                                <input type="password" class="form-control" id="confirmPassword" name="confirm_password"
                                    required>
                            </div>
                            <button type="submit" class="btn btn-primary">Redefinir Senha</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>